<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "あなたのガジェット", gadgets_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "予約リクエスト", your_reservations_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "レンタルリスト", your_rents_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        予約リクエスト
      </div>
      <div class="panel-body">
        <% @gadgets.each do |gadget| %>
          <% gadget.reservations.each do |reservation| %>
            <div class="row">
              <div class="col-md-3">
                <%= date_japan(reservation.start_date) %>
                <p><%= reservation.status %></p>
                <div class="form-inline">
                  <% if reservation.Waiting? %>
                    <%= link_to approve_reservation_path(reservation), method: :post do %> <i class="fa fa-thumbs-up fa-lg"></i> <% end %> |
                    <%= link_to decline_reservation_path(reservation), method: :post do %> <i class="fa fa-thumbs-down fa-lg"></i> <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-2">
                <%= link_to gadget_path(reservation.gadget) do %>
                  <%= image_tag reservation.gadget.cover_photo(:medium), style: "width: 100%;", class: "img-rounded" %>
                <% end %>
              </div>
              <div class="col-md-3">
                <%= link_to reservation.gadget.listing_name, gadget_path(reservation.gadget) %><br/><br/>
                <span>
                  <%= link_to user_path(reservation.user) do %>
                    <%= image_tag avatar_url(reservation.user), class: "img-circle avatar-small" %>
                    <%= reservation.user.name %>
                  <% end %>
                </span>
              </div>
              <div class="col-md-4 text-center">
                <%= render partial: "reviews/owner_form", locals: {reservation: reservation} if reservation.Approved? %>
              </div>
            </div>
            <hr/>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
