<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "あなたのガジェット", gadgets_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "予約リクエスト", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "レンタルリスト", your_rents_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        ガジェット
      </div>
      <div class="panel-body">
        <% @gadgets.each do | gadget | %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag gadget.cover_photo(:thumb), style: "width: 100%;" %>
            </div>
            <div class="col-md-7">
              <h4><%= gadget.listing_name %></h4>
            </div>
            <div class="col-md-3 right">
              <%= link_to "更新", listing_gadget_path(gadget), class: "btn btn-form" %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
