<div class="row">
  <div class="col-md-3">
    <%= render 'gadget_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        レンタル条件登録 (ユーザー)
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @gadget do |f| %>
            <div class="row">
              <div class="form-group">
                <label>モバイル</label>
                <%= f.text_field :require_mobile, placeholder: "機種、バージョンに条件があれば記入してください", class: "form-control", required: true %>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>アカウント</label>
                <%= f.text_field :require_account, placeholder: "アカウント申請が必要な場合、記入してください", class: "form-control", required: true %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "保存", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
