<div class="row">
  <div class="col-md-8">
    <h1><%= @gadget.listing_name %></h1>
    <%= image_tag @gadget.cover_photo(:thumb), style: "width: 100%;", class: "img-rounded" %>
    <hr/>
  </div>
  <div class="col-md-4">
    <h2>ホスト</h2>
    <div class="text-center">
      <%= image_tag avatar_url(@gadget.user), class: "img-circle avatar-xlarge" %><br/><br/>
      <%= link_to @gadget.user.name, user_path(@gadget.user) %>
    </div>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>About</h2>
    <%= @gadget.description %>
    <hr />
    <h2>配達範囲エリア</h2>
    <%= @gadget.address %>
    <hr/>
    <div class="row text-center row-space-1 text-babu">
      <div class="col-md-3">
        <i class="fa fa-jpy fa-2x" aria-hidden="true"></i></i>
      </div>
      <div class="col-md-3">
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-md-3">
        <i class="fa fa-book fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-md-3">
        <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-3"><%= @gadget.price %>円/1日</div>
      <div class="col-md-3">カメラ付き</div>
      <div class="col-md-3">動画説明書</div>
      <div class="col-md-3">チャットサポート</div>
    </div>
    <hr />
    <div class="row">
      <h2>付属品</h2>
      <div class="col-md-12">
        <ul>
          <li><i class="fa fa-shopping-bag" aria-hidden="true">専用バッグ</i></li>
          <li><i class="fa fa-file-word-o" aria-hidden="true">説明書</i></li>
        </ul>
      </div>
    </div>
    <hr />
    <h2>用意するもの</h2>
    <hr />
    <h2>キャンセルポリシー</h2>
    <hr />
    <h2>保証</h2>
    <hr />
    <h2><i class="fa fa-truck" aria-hidden="true"></i>配送</h2>
  </div>

  <div class="col-md-4">
    <%= render 'reservations/form' %>
  </div>
</div>
