<!DOCTYPE html>
<html>
  <head>
    <title>GadgetGo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <%= stylesheet_link_tag "jquery-ui", :media => "all" %>
    <script src="<%= ENV['GMAP_JS_URL'] %>&libraries=places"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <% if user_signed_in? %>
      <script>
        var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
          encrypted: true,
          cluster: 'ap1'
        });

        var channel = pusher.subscribe('user_<%= current_user.id %>_channel');
        channel.bind('notify_message', function(data) {
          alert(data.message);
        });

        channel.bind('notify_unread', function(data) {
          $('#unread_count').html(data.unread_counts);
        });
      </script>
    <% end %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <div id="wrapper">
      <div class="container">
         <%= yield %>
         <hr />
      </div>
    </div>
    <footer>
        <p>○○○株式会社</p>
        <p>© 2017 Copyright ○○○.</p>
    </footer>
  </body>
</html>
