<!DOCTYPE html>
<html>
  <head>
    <title>GadgetGo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <%= stylesheet_link_tag "jquery-ui", :media => "all" %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <div id="wrapper">
      <div class="container">
         <%= yield %>
         <hr />
      </div>
    </div>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <span>footer</span>
      </div>
    </footer>
  </body>
</html>
