<% content_for :content do %>
  <% if action_name == "edit" %>
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-list">
          <li class="sidebar-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %>
          </li>
        </ul>
        <br />
        <%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-default" %>
      </div>
      <div class="col-md-9 text-center">
        <%= yield %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= yield %>
      </div>
    </div>
  <% end %>
<% end %>
<%= render :template => 'layouts/application' %>
